**/*.tar
**/*.pkl
**/*.obj
**/*.stl
**/*.ply
**/*.pth
**/*.zip
.gitconfig
.idea
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*****.pyc
**/*.so
raster_triangle
ffb6d/wandb
ffb6d/datasets/ycb/YCB_Video_Dataset
ffb6d/datasets/linemod/Linemod_preprocessed
ffb6d/datasets/neuromeka/*/
ffb6d/datasets/neuromeka/EDA/data_view.py
ffb6d/datasets/SUN2012pascalformat
ffb6d/train_log
ffb6d/datasets/train_log

ffb6d/datasets/neuromeka/Dataset Usage Guide.ipynb
!ffb6d/datasets/neuromeka/classes.txt
!ffb6d/datasets/neuromeka/neuromeka_dataset.py
!ffb6d/datasets/neuromeka/EDA.py
!ffb6d/datasets/neuromeka/preprocs.py
ffb6d/datasets/neuromeka/EDA/data_view.py

apex/
normalSpeed/
